# 0.0 Imports

In [68]:
import pandas   as pd
import numpy    as np

In [69]:
df_train    =   pd.read_csv('./datasets/train.csv')
df_test     =   pd.read_csv('./datasets/test.csv')

In [70]:
df_train_y = df_train['Satisfaction'].apply(lambda x: 1 if x == 'Satisfied' else 0)
df_train = df_train.drop(columns=['Satisfaction'])

# 1.0 Data Description

In [71]:
df1 = df_train.copy()

## 1.1 Data Dimension

In [72]:
print(f'Number of rows: {df1.shape[0]}')
print(f'Number of columns: {df1.shape[1]}')

Number of rows: 103904
Number of columns: 23

## 1.2 Analyze data

In [73]:
df1_original = df1.copy()  # Cria uma cópia do DataFrame original

# Realiza as operações de limpeza nos nomes das colunas
df1.columns = df1.columns.str.lower()
df1.columns = df1.columns.str.strip()
df1.columns = df1.columns.str.replace(' ', '_')

In [74]:
df1.head()

,id,gender,customer_type,age,type_of_purchase,store_size,store_distance,instore_wifi,open/close_time_convenient,easy_of_online_shopping,...,waiting_room,kids_entertainment,seller_service,showroom,self-store,purchase_service,store_service,cleanliness,carrier_delay_in_minutes,delivery_delay_in_minutes
0,70172,Male,Loyal Customer,13,Personal,Small,460,3,4,3,...,5,5,4,3,4,4,5,5,25,18.0
1,5047,Male,disloyal Customer,25,Gift,Large,235,3,2,3,...,1,1,1,5,3,1,4,1,1,6.0
2,110028,Female,Loyal Customer,26,Gift,Large,1142,2,2,2,...,5,5,4,3,4,4,4,5,0,0.0
3,24026,Female,Loyal Customer,25,Gift,Large,562,2,5,5,...,2,2,2,5,3,1,4,2,11,9.0
4,119299,Male,Loyal Customer,61,Gift,Large,214,3,3,3,...,5,3,3,4,4,3,3,3,0,0.0

In [76]:
df1.dtypes

id                              int64
gender                         object
customer_type                  object
age                             int64
type_of_purchase               object
store_size                     object
store_distance                  int64
instore_wifi                    int64
open/close_time_convenient      int64
easy_of_online_shopping         int64
store_location                  int64
toilet_cleaning                 int64
dressing_room                   int64
waiting_room                    int64
kids_entertainment              int64
seller_service                  int64
showroom                        int64
self-store                      int64
purchase_service                int64
store_service                   int64
cleanliness                     int64
carrier_delay_in_minutes        int64
delivery_delay_in_minutes     float64
dtype: object

## 1.3 Check NAs

In [77]:
df1.isna().sum()

id                              0
gender                          0
customer_type                   0
age                             0
type_of_purchase                0
store_size                      0
store_distance                  0
instore_wifi                    0
open/close_time_convenient      0
easy_of_online_shopping         0
store_location                  0
toilet_cleaning                 0
dressing_room                   0
waiting_room                    0
kids_entertainment              0
seller_service                  0
showroom                        0
self-store                      0
purchase_service                0
store_service                   0
cleanliness                     0
carrier_delay_in_minutes        0
delivery_delay_in_minutes     310
dtype: int64

## 1.4 Check NAs
**Notice:** We detected that the column `delivery_delay_in_minutes` has null values.

In [82]:
df_delivery_delay_in_minutes = df1[df1['delivery_delay_in_minutes'].isnull()]

# 2.0 Feature Engineering

# 3.0 Data Filtering

# 4.0 EDA

# 5.0 Data preparation

# 6.0. Feature Selection

# 7.0 Machine Learning